<H1>We finish to proccess your orders!</h1>

<p>File: <%= @csv_order.name %>, end with status: <%= @csv_order.state %> </p>

<% if @orders.any?%>
  <ul>
    <% @orders.each do |order| %>
      <li><%= link_to order.number, spree.edit_admin_order_url(order)  %></li>
    <% end %>
  </ul>
<% end %>
<% unless @errors.blank?%>
  <p>We couldn't process the orders due the following errors:</p>
  <p><b><%= @errors %></b></p>
<% end %>
